/*vv+*/
/*banner*/

/*slide*/

.panel{width:960px; margin:0 auto;height:116px;}
.panel ul li{float:left; width:260px; display:inline;  no-repeat right top;}
.panel .panel_1_s{width:220px;}
.panel .panel_4_s{width:220px;  no-repeat left top; overflow:hidden}
.panel ul li .panel_1{display:block; background:url(../images/index/bg_p_1.jpg) no-repeat 22px 8px; width:220px; height:116px; padding-left:10px}
.panel ul li .panel_1:hover{background:url(../images/index/bg_p_1_h.jpg) no-repeat 23px 9px}
.panel ul li .panel_2{display:block; background:url(../images/index/bg_p_2.jpg) no-repeat 37px 8px; width:220px; height:116px; padding-left:30px}
.panel ul li .panel_2:hover{background:url(../images/index/bg_p_2_h.jpg) no-repeat 38px 9px}
.panel ul li .panel_3{display:block; background:url(../images/index/bg_p_3.jpg) no-repeat 37px 8px; width:220px; height:116px; padding-left:37px}
.panel ul li .panel_3:hover{background:url(../images/index/bg_p_3_h.jpg) no-repeat 38px 9px}
.panel ul li .panel_4{display:block; background:url(../images/index/bg_p_4.jpg) no-repeat 36px 8px; width:204px; height:116px; padding-left:36px}
.panel ul li .panel_4:hover{background:url(../images/index/bg_p_4_h.jpg) no-repeat 37px 9px}
.panel ul li a span{font-family:"微软雅黑"; font-size:12px;  margin:9px 0 7px 35px; display:inline-block; line-height:2.2em}
.panel ul li a img{width:170px; height:56px; border:3px solid #fff;}
.panel ul li a:hover img{border:3px solid #848381;}
.highlight_1 img{opacity:0.7; filter:alpha(opacity=70);}
.panel ul li.hover{background:url(../images/index/bg_slide1_hover.jpg) repeat-x right top;}
